.note-add {
    margin: 0px auto 40px;
    padding: 10px 0 8px;
    background-color: rgba(173, 216, 230, 0.726);
    border-radius: 5px;
    width: 70%;
    gap: 20px;
    box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 2px 15px rgba(0,0,0,0.30);

}

.input-container input{
    width: 330px;
    height: 40px;
    border-radius: 2px;
}

.note-add i {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    color: rgba(122, 113, 113, 0.884);
    font-size: 12px;
    padding: 10px 10px;

}


.btn-add{
    padding-top: 15px;

}

.titleInput{
    margin-right: 5px;
}

.note-add i:hover {
    color: rgb(65, 62, 62)
}

.note-add i.add-btn {
    width: 40px;
}

.note-add i.selected-type {
    color: rgb(65, 62, 62)
}


.note-add fieldset{
    border: 2px solid rgb(145, 142, 142);
    margin-right: 10px;
}


.note-add legend{
    color: rgba(119, 136, 153, 0.685);
    font-weight: bolder;
}


