.note-add {
    margin: 0px auto 40px;
    padding: 10px 0 8px;
    background-color: rgba(173, 216, 230, 0.726);
    border-radius: 5px;
    width: 70%;
    box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 2px 15px rgba(0,0,0,0.30);
}

.input-container{
    padding-right: 40px;
 
}
.input-container input{
    height: 40px;
    width: 300px;
    border-radius: 2px;
}

.note-add i {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    color: rgba(122, 113, 113, 0.884);
    font-size: 12px;
    padding: 10px 10px;

}


.btn-add{
    padding-top: 15px;

}

.titleInput{
    margin-right: 5px;
}

.note-add i:hover {
    color: rgb(65, 62, 62)
}

.note-add i.add-btn {
    width: 40px;
}

.note-add i.selected-type {
    color: rgb(65, 62, 62)
}


.note-add fieldset{
    border: 2px solid rgb(145, 142, 142);
    margin-right: 10px;
}


.note-add legend{
    color: rgba(119, 136, 153, 0.685);
    font-weight: bolder;
}

@media (max-width: 1110px) {
    .note-add {
        padding-top: 20px;
        width: 95%;
        flex-wrap: wrap;
    }
    .input-container {
        padding: 0px 10px 10px;
        gap: 7px;
    }
    .input-container input{
        width: 150px;
        height: 30px;
    }
  
}

